<!-- YourSolution\NuGet.config -->
<configuration>
    <packageSources>
        <add key="HangfirePro" value="https://nuget.hangfire.io/nuget/hangfire-pro/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <HangfirePro>
            <add key="Username" value="SofteverCo" />
            <add key="ClearTextPassword" value="A9Jha872fqaeEZkv" />
        </HangfirePro>
    </packageSourceCredentials>
</configuration>